<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Showing all employee list</h1>

    <form>
        <fieldset>
            <table>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Contact</td>
                </tr>
                <tr>
                    <td><input type="text" name="" id="" value="koushiq"></td>
                    <td><input type="email" name="" id="" value="ksq@gmail.com"></td>
                    <td><input type="number" name="" id="" value="123123"></td>
                </tr>
                <tr>
                    <td>
                        <a href="/admin/Update/koushiq"><input type="button" value="Update"></a>
                        <a href="/admin/Delete/koushiq"><input type="button" value="Delete"></a>
                        
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>


    <form>
        <fieldset>
            <table>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Contact</td>
                </tr>
                <tr>
                    <td><input type="text" name="" id="" value="murad"></td>
                    <td><input type="email" name="" id="" value="murad@gmail.com"></td>
                    <td><input type="number" name="" id="" value="123123"></td>
                </tr>
                <tr>
                    <td>
                        <a href="/admin/Update/murad"><input type="button" value="Update"></a>
                        <a href="/admin/Delete/murad"><input type="button" value="Delete"></a>
                       
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>


    <form>
        <fieldset>
            <table>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Contact</td>
                </tr>
                <tr>
                    <td><input type="text" name="" id="" value="rahat"></td>
                    <td><input type="email" name="" id="" value="rahat@gmail.com"></td>
                    <td><input type="number" name="" id="" value="123123"></td>
                </tr>
                <tr>
                    <td>
                        <a href="/admin/Update/rahat"><input type="button" value="Update"></a>
                        <a href="/admin/Delete/rahat"><input type="button" value="Delete"></a>
                       
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <a href="/admin"> <input type="button" value="Back"></a>
</body>
</html>