<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Showing all employee list</h1>
    <a href="admin/Update"><input type="button" value="Update"></a>
    <a href="admin/Delete"><input type="button" value="Delete"></a>
</body>
</html>